laborator_analize.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="TELEFON">
        <xs:restriction base = "xs:string">
        <xs:minLength value="10" />
        <xs:maxLength value="12" />
        </xs:restriction>
    </xs:simpleType>    
    <xs:complexType name="CONTACT_LABORATOR">
        <xs:sequence>
        <xs:element name="telefon_laborator" type="TELEFON"/>
        <xs:element  name="email_laborator" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NIVEL_SCAZUT">
        <xs:sequence>
        <xs:element name="valoare_ns" type="xs:float"/>
        <xs:element  name="boala_ns" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NIVEL_RIDICAT">
        <xs:sequence>
        <xs:element name="valoare_nr" type="xs:float"/>
        <xs:element  name="boala_nr" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="INTERPRETARE">
        <xs:sequence>
        <xs:element name="nivel_scazut" type="NIVEL_SCAZUT"/>
        <xs:element  name="nivel_ridicat" type="NIVEL_RIDICAT"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VIZITA">
        <xs:sequence>
        <xs:element name="analiza_pacient" type="xs:string"/>
        <xs:element name="data_efectuare" type="xs:string"/>
        <xs:element name="rezultat" type="xs:float"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ISTORIC">
        <xs:sequence>
        <xs:element name="vizita" maxOccurs="unbounded" minOccurs="1" type="VIZITA"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MEDIC">
        <xs:sequence>
        <xs:element name="nume_medic" type="xs:string"/>
        <xs:element name="prenume_medic" type="xs:string"/>
        <xs:element name="varsta_medic" type="xs:integer"/>
        <xs:element name="vechime" type="xs:integer"/>
        <xs:element name="specializare" maxOccurs="unbounded" minOccurs="1" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PACIENT">
        <xs:sequence>
        <xs:element name="nume_pacient" type="xs:string"/>
        <xs:element name="prenume_pacient" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PACIENT_EXTENSIE">
        <xs:complexContent>
            <xs:extension base="PACIENT">
                <xs:sequence>
                    <xs:element name="cnp" type="xs:string"/>
                    <xs:element name="varsta_pacient" type="xs:integer"/>
                    <xs:element name="telefon_pacient" type="TELEFON"/>
                    <xs:element name="sex" type="xs:string"/>
                    <xs:element name="email" type="xs:string"/>
                    <xs:element name="istoric_medical" type="ISTORIC"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>



    <xs:element name="laborator_medical">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="laborator">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="nume_laborator"/>
                            <xs:element name="contact" type="CONTACT_LABORATOR"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="categorii">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="categorie" maxOccurs="unbounded" minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="analize">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="analiza"  maxOccurs="unbounded" minOccurs="1">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="nume_analiza" type="xs:string"/>
                                                                <xs:element name="descriere" type="xs:string"/>
                                                                <xs:element name="indicatii" type="xs:string"/>
                                                                <xs:element name="interpretare" type="INTERPRETARE"/>
                                                                <xs:element name="pret" type="xs:float"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                   
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="nume_categorie" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="pacienti">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="pacient" maxOccurs="unbounded" minOccurs="1" type="PACIENT_EXTENSIE"/>    
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="medici">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="medic" maxOccurs="unbounded" minOccurs="1" type="MEDIC"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  
